body {
    color: #f7f7f7;
}
footer {
    text-align: center;
}
.jumbotron{
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}
.btn {
    background-color: goldenrod !important;
    font-weight: bold;
}
label {
    font-weight: bold;
}
.h1, h1 {
    font-family: monospace;
}